# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as seguintes perguntas:

### Qual o gênero de filme mais lucrativo em todo o mundo?

In [14]:
# ADICIONE O SEU CÓDIGO AQUI
import pandas as pd
import numpy as np

movies_df = pd.read_csv("../icd/datasets/movies.csv")

movies_df.sort_values(by="Worldwide Gross", ascending = False)[["Major Genre", "Worldwide Gross"]]

            Major Genre  Worldwide Gross
1234             Action     2.767891e+09
2970  Thriller/Suspense     1.842880e+09
2202          Adventure     1.133027e+09
2507          Adventure     1.065660e+09
2987          Adventure     1.046341e+09
...                 ...              ...
266                 NaN              NaN
404                 NaN              NaN
467                 NaN              NaN
1025                NaN              NaN
1028                NaN              NaN

[3201 rows x 2 columns]

### Qual o diretor dirigiu mais filmes?

In [24]:
# ADICIONE O SEU CÓDIGO AQUI

movies_df.groupby("Director").mean()

,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Running Time (min),Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
Director,,,,,,,,
Abel Ferrara,1.212799e+06,1.412799e+06,NaN,1.250000e+07,NaN,83.000000,6.400000,4084.000000
Adam McKay,1.161751e+08,1.261899e+08,84838372.0,4.900000e+07,104.0,72.000000,6.700000,64328.000000
Adam Shankman,9.145075e+07,1.402184e+08,65321405.5,4.166667e+07,103.0,32.666667,5.833333,24827.166667
Adrian Lyne,6.154887e+07,1.297121e+08,NaN,2.880000e+07,123.0,52.666667,6.220000,17347.800000
Adrienne Shelly,1.909755e+07,2.220218e+07,23127549.0,1.500000e+06,NaN,89.000000,7.200000,20384.000000
...,...,...,...,...,...,...,...,...
Woody Allen,1.497699e+07,2.945456e+07,7743449.0,1.212500e+07,NaN,71.200000,7.046667,24223.000000
Yimou Zhang,2.375634e+07,1.152610e+08,10581873.0,2.466667e+07,104.5,NaN,7.000000,17975.000000
Zach Braff,2.678232e+07,3.238115e+07,NaN,2.500000e+06,109.0,86.000000,7.900000,92594.000000
Zack Snyder,1.257052e+08,2.474758e+08,156682613.5,7.533333e+07,108.5,66.666667,7.666667,147211.000000
Zak Penn,1.158790e+05,1.158790e+05,NaN,3.000000e+06,NaN,NaN,6.100000,3346.000000

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [23]:
# ADICIONE O SEU CÓDIGO AQUI

movies_df.sort_values(by="US Gross", ascending = False)[["Production Budget", "US Gross"]]

      Production Budget     US Gross
1234        237000000.0  760167650.0
2970        200000000.0  600788188.0
1266        185000000.0  533345358.0
912          11000000.0  460998007.0
2741         70000000.0  441226247.0
...                 ...          ...
266            300000.0          NaN
404           4000000.0          NaN
467            385907.0          NaN
1025         25000000.0          NaN
1028          2000000.0          NaN

[3201 rows x 2 columns]